$black: #000000;
$white: #FFFFFF;
$light-gray: #E0E0E0;

$color-primary: #474747;
$color-secondary: #232323;
$color-tertiary:#159957;
$color-quaternary: #155799;
$color-quinary: gray;
$color-senary: $light-gray;

$color-twitter: #1DA1F2;
$color-github: #181717;
$color-codepen: $black;
$color-replit: $color-quinary;
$color-gmail: #D14836;
$color-linkedin: #0077B5;
$color-javascript: #F7DF1E;
$color-html5: #E34F26;
$color-css3: #1572B6;
$color-git: #F05032;
$color-webpack: #8DD6F9;
$color-gulp: #DA4648;
$color-react: #61DAFB;
$color-angularjs: #DD0031;
$color-vue: #4FC08D;
$color-travis: #39A85B;
$color-mongo: #47A248;
$color-jest: #9D2F55;
$color-nodejs: #339933;
$color-butterCMS: #3F0850;
$color-typescript: #007ACC;
