.section {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 64px;
  &-part-wrapper {
    padding-top: 32px;
  }
  &-main-title {
    text-transform: uppercase;
    margin: 0;
    font-size: 36px;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
    &__wrapper {
      position: relative;
      width: 100%;
      text-align: center;
      color: white;
      background: no-repeat fixed center center;
      background-size: cover;
    }
    &__underline {
      position: relative;
      z-index: 1;
      width: 100px;
      height: 4px;
      margin: 25px auto 0;
      background-color: white;
    }
    &__overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($color-quaternary, 0.5);
    }
  }
  &--about-me {
    max-width: 512px;
    margin: 0 auto;
    padding: 64px 16px;
    text-align: center;
  }
  &--tools {
    text-align: center;
  }
  &__title {
    color: $color-secondary;
  }
  &__social-links {
    margin-bottom: 32px;
  }
  &__text {
    color: $color-primary;
  }
  &--tools {
    padding: 0 16px;
    box-sizing: border-box;
    text-align: left;
  }
}
