body {
  margin: 0;
  padding: 0;
  min-height: calc(100vh - 20px);
  font-family: $font--text;
  background: white;
  color: $color-primary;
  overflow-y: scroll;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font--title;
  font-weight: $font-weight--normal;
}

a {
  color: $color-quaternary;
  transition: $transition--primary;
  &:hover,
  &:focus,
  &:active {
    color: $color-tertiary;
    outline: 0;
  }
}

blockquote {
  border-left: 4px solid $color-tertiary;
  padding: 0 $unit*2;
  font-style: italic;
  color: $color-quinary;
}